
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password Screen</title>

    @Styles.Render("~/Content/css")

    @*<link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>

<body>

    <div class="container">
        <div class="row vh-100 align-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-6 pb-5">
                        <img src="~/Images/IRIS_card_header.svg" />
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Reset Password</h5>
                                <p class="card-text">Enter your email address and click the submit button. An email
                                with further password reset instructions will be sent to the email address provided. Thank you!</p>
                                <form>
                                    <div class="form-group">
                                        <label for="irisResetPasswordInput" class="font-weight-bold">Email Address</label>
                                        <input type="email" class="form-control w-50" id="irisResetPasswordInput" placeholder="name@oregoncounties.org" aria-describedby="emailHelp" />
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary">Submit Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
