<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - My Telerik MVC Application</title>
    	<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
	    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    </head>
    <body class="k-content">
        <nav class="navbar navbar-inverse navbar-fixed-top iris-bg-light-blue">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button id="configure" class="k-rpanel-toggle k-button btn-toggle"><span class="k-icon k-i-menu"></span></button>
                    <a class="navbar-brand" href="#"><img class="img-fluid"width="300" height="76" src="~/Images/IRIS_logo_web_ltgray.svg" /></a>
                </div>
                <div id="responsive-panel" class="navbar-left">
                    @(Html.Kendo().Menu()
                        .Name("Menu")
                        .Items(items =>
                        {
                            items.Add() // Add dropdown items (children of "Helper Demos")
                                .Text("Helper Demos")
                                .Items(children =>
                            {
                                children.Add().Text("Gantt Chart Demo");
                                children.Add().Text("Menu Demo");
                                children.Add().Text("Window Demo");
                            });
                            items.Add().Text("Home").Action("Index", "Home", new { area = "" });
                            items.Add().Text("About").Action("About", "Home", new { area = "" });
                            items.Add().Text("Contact").Action("Contact", "Home", new { area = "" });
                        })
                    )
                </div>
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>

        <footer class="footer text-center">

        </footer>

        <script>
            $(document).ready(function () {
                $("#responsive-panel").kendoResponsivePanel({
                    breakpoint: 768,
                    autoClose: false,
                    orientation: "top"
                });
            });
            function onclick(e) {
                $("#responsive-panel").getKendoResponsivePanel().toggle();
            }
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
