<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - My Telerik MVC Application</title>
    	<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
	    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
	    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    </head>
    <body class="k-content">

        <header class="container-fluid">
            <div class="row iris-bg-light-blue p-2">

                <div class="col-4 d-flex align-items-center pl-0 pr-0">
                    <a href="@Url.Action("Index", "Home")"><img class="img-fluid" width="300" height="76" src="~/Images/IRIS_logo_web_ltgray.svg" /></a>
                </div>

                <div class="col-2 ml-auto pl-0 pr-0">
                    <div class="card iris-border-hinted iris-bg-light-blue">
                        <div class="card-body text-light p-1">
                            <div><strong class="text-dark">Username: </strong><span>Nicholas Fazzolari</span></div>
                            <div><strong class="text-dark">Tenant: </strong><span>Polk</span></div>
                        </div>
                        <div class="card-footer p-1">
                            <button type="button" class="btn btn-primary btn-sm">Logout</button>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="row" id="mainNavigation">
                @(Html.Kendo().Menu()
                .Name("screensPreviewMenu")
                .Items(items =>
                {
                    items.Add().Text("Reports Main").Action("Index", "ReportScreens");
                    items.Add().Text("Login Screens") // Dropdown level
                        .Items(children =>
                        {
                            children.Add().Text("Login Screen").Action("Login", "Login");
                            children.Add().Text("Reset Password Screen").Action("ResetPassword", "Login");
                            children.Add().Text("Change Password Screen").Action("ChangePassword", "Login");
                        }
                        );
                    items.Add().Text("Kendo Widget Demos") // Dropdown level
                        .Items(children =>
                        {
                            children.Add().Text("Gantt Example");
                            children.Add().Text("Toolbar Example");
                            children.Add().Text("Grid Example");
                            children.Add().Text("Window Example").Action("Index", "WindowEx");
                        }
                        );
                }))
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        @*<footer class="footer text-center">
            <p>Footer content</p>
        </footer>*@

        @RenderSection("scripts", required: false)
    </body>
</html>
