<!DOCTYPE html>
<html class="iris-global-full-height">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title IRIS10 UI Development Sandbox</title>
    @*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@

    @Styles.Render("~/Content/css")

    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="iris-global-full-height">

    <div class="iris-main-layout-wrapper">

        <header class="container-fluid iris-row-flex iris-header-flex test-header-color">
            <div class="row iris-bg-light-blue p-2">

                <div class="col-4 d-flex align-items-center pl-0 pr-0">
                    <a href="@Url.Action("Index", "Home")"><img class="img-fluid" width="300" height="76" src="~/Images/IRIS_logo_web_ltgray.svg" /></a>
                </div>

                <div class="col-2 ml-auto pl-0 pr-0">
                    <div class="card iris-border-hinted iris-bg-light-blue">
                        <div class="card-body text-light p-1">
                            <div><strong class="text-dark">Username: </strong><span>Nicholas Fazzolari</span></div>
                            <div><strong class="text-dark">Tenant: </strong><span>Polk</span></div>
                        </div>
                        <div class="card-footer p-1">
                            <button type="button" class="btn btn-primary btn-sm">Logout</button>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="row" id="mainNavigation">
                @(Html.Kendo().Menu()
                .Name("screensPreviewMenu")
                .Items(items =>
                {
                    items.Add().Text("IRIS 10 Login Screens") // Dropdown level
                        .Items(children =>
                        {
                            children.Add().Text("Login Screen").Action("Login", "Login");
                            children.Add().Text("Reset Password Screen").Action("ResetPassword", "Login");
                            children.Add().Text("Change Password Screen").Action("ChangePassword", "Login");
                            children.Add().Text("Change Password Confirmation Screen").Action("ChangePasswordConfirmation", "Login");
                        });

                    items.Add().Text("Admin Views and Templates")
                        .Items(children =>
                        {
                            children.Add().Text("IRIS10 Admin Dashboard");
                        });

                    items.Add().Text("Reports Views and Templates")
                        .Items(children =>
                        {
                            children.Add().Text("Reports Main").Action("_ReportsMain", "ReportScreens");
                        });

                    items.Add().Text("Permit Views and Templates")
                        .Items(children =>
                        {
                            children.Add().Text("Add Standard Permit Form Templates")
                                    .Items(innerChildren =>
                                    {
                                        innerChildren.Add().Text("Add Standard Permit Forms").Action("StdPermitGenReqFields", "Permits");
                                        innerChildren.Add().Text("Add Standard Permit Owner Forms").Action("StdPermitOwnerFields", "Permits");
                                        innerChildren.Add().Text("Add Standard Permit Site Forms").Action("StdPermitSiteFields", "Permits");
                                        innerChildren.Add().Text("Add Standard Permit Applicant Forms").Action("StdPermitApplicantField", "Permits");
                                        innerChildren.Add().Text("Add Standard Permit Contractor Forms").Action("StdPermitsContractorFields", "Permits");
                                        innerChildren.Add().Text("Add Standard Permit User Forms").Action("StdPermitUserFields", "Permits");

                                    });
                            children.Add().Text("Add Utility Permit Form Templates")
                                    .Items(innerChildren =>
                                    {
                                        innerChildren.Add().Text("Add Utility Permit Required Forms ").Action("UtilAddPermitRequiredFields", "Permits");
                                        innerChildren.Add().Text("Add Utility Permit General Forms ").Action("UtilAddPermitGeneralFields", "Permits");
                                        innerChildren.Add().Text("Add Utility Permit Applicant Forms ").Action("UtilAddPermitAppFields", "Permits");
                                        innerChildren.Add().Text("Add Utility Permit Sub Contractor Forms ").Action("UtilAddPermitContractorFields", "Permits");
                                        innerChildren.Add().Text("Add Utility Permit User Forms ").Action("UtilAddPermitUserFields", "Permits");
                                    });
                            children.Add().Text("Add ODOT Permit Form Templates")
                                    .Items(innerChildren =>
                                    {
                                        innerChildren.Add().Text("Add ODOT Permit Required Forms ").Action("ODOTAddPermitRequiredFields", "Permits");
                                        innerChildren.Add().Text("Add ODOT Permit General Forms ").Action("ODOTAddPermitGeneralFields", "Permits");
                                        innerChildren.Add().Text("Add ODOT Permit Load Information Forms ").Action("ODOTAddPermitLoadInfoFields", "Permits");
                                        innerChildren.Add().Text("Add ODOT Permit Route Forms ").Action("ODOTAddPermitRouteFields", "Permits");
                                        innerChildren.Add().Text("Add ODOT Permit Axle Forms ").Action("ODOTAddPermitAxleFields", "Permits");
                                    });
                            children.Add().Separator(true);
                            children.Add().Text("Edit Standard Permit Form Templates")
                                    .Items( innerChildren =>
                                    {
                                        innerChildren.Add().Text("Edit Standard Permit Required Forms").Action("StdPermitEditRequiredFields", "Permits");
                                        innerChildren.Add().Text("Edit Standard Permit General Forms").Action("StdPermitEditGeneralFields", "Permits");
                                        innerChildren.Add().Text("Edit Standard Permit Owner Forms").Action("StdPermitEditOwnerFields", "Permits");
                                        innerChildren.Add().Text("Edit Standard Permit Site Forms").Action("StdPermitEditSiteFields", "Permits");
                                        innerChildren.Add().Text("Edit Standard Permit Applicant Forms").Action("StdPermitEditApplicantFields", "Permits");
                                        innerChildren.Add().Text("Edit Standard Permit Contractor Forms").Action("StdPermitEditContractorFields", "Permits");

                                    });
                            children.Add().Text("Edit Utility Permit Form Templates")
                                    .Items(innerChildren =>
                                    {
                                        innerChildren.Add().Text("Edit Utility Permit Required Forms").Action("UtilEditRequiredFields", "Permits");
                                        innerChildren.Add().Text("Edit Utility Permit General Forms").Action("UtilEditGeneralFields", "Permits");
                                        innerChildren.Add().Text("Edit Utility Permit Applicant Forms").Action("UtilEditApplicantFields", "Permits");
                                        innerChildren.Add().Text("Edit Utility Permit Sub Contractor Forms").Action("UtilEditSubContractorFields", "Permits");
                                    });
                            children.Add().Text("Edit ODOT Permit Form Templates")
                                    .Items(innerChildren =>
                                    {
                                        innerChildren.Add().Text("Edit ODOT Permit Required Forms").Action("ODOTEditRequiredFields", "Permits");
                                        innerChildren.Add().Text("Edit ODOT Permit Required Forms").Action("ODOTEditGeneralFields", "Permits");
                                        innerChildren.Add().Text("Edit ODOT Permit Load Information Forms").Action("ODOTEditLoadFields", "Permits");
                                        innerChildren.Add().Text("Edit ODOT Permit Route Forms").Action("ODOTEditRouteFields", "Permits");
                                        innerChildren.Add().Text("Edit ODOT Permit Axle Forms").Action("ODOTEditRouteFields", "Permits");
                                    });
                            children.Add().Separator(true);
                            children.Add().Text("Common Permit Input Forms").Action("CommonFormInputs", "Permits");
                        });

                    items.Add().Text("Kendo UI Demos") // Dropdown level
                        .Items(children =>
                        {
                            children.Add().Text("Grid Demo").Action("Index", "GridDemo");
                            children.Add().Text("TabStrip With Grid Demo").Action("TabStripGridDemo", "GridDemo");
                            children.Add().Text("Flexy Layout For TabStrip Demo").Action("FlexLayoutGrid", "GridDemo");
                            children.Add().Text("Text Editor Demo").Action("Index", "TextEditorDemo");
                            children.Add().Text("Panel Bar Demo").Action("Index", "PanelBarDemo");
                            children.Add().Text("Window Demo").Action("Index", "WindowEx");
                            children.Add().Text("TabStrip Example").Action("TabStripExample", "Home");
                            children.Add().Text("Gantt Demo").Enabled(false);
                            children.Add().Text("Toolbar Demo").Enabled(false);
                        });
                }))
            </nav>
        </header>

        <main class="iris-row-flex iris-content-flex test-content-color">
            @RenderBody()
        </main>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
