<!DOCTYPE html>

<html lang="en-us" class="h-100 max-height-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IRIS10 UI Development Sandbox</title>

    @Styles.Render("~/Content/css")

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/fb9297107b.js" crossorigin="anonymous"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="d-flex flex-column h-100 max-height-full">

    <header class="iris-bg-light-blue">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-2 p-3">
                    <img src="~/Images/IRIS_Logo_Gray_Light.svg" />
                </div>
                <div class="col-md-auto ml-auto d-flex align-items-center">
                    <div class="d-flex m-3 p-2">
                        <button id="UserAccountSettings" class="btn btn-light border-50 p-2"><i class="fas fa-user-circle fa-2x p-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main id="MainContent" class="d-flex flex-grow-1 max-height-full">
        @RenderBody()
    </main>

    <footer id="MainFooter" class="iris-bg-light-blue">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <span>Footer</span>
            </div>
        </div>
    </footer>

    <script>

        // Implement a basic API for controlling the display of core layout elements

        function ShowHeader(setValue) {

            let MainHeaderEl = $("#MainHeader");

            if (!setValue) {
                MainHeaderEl.addClass("d-none");
            }

            if (setValue) {
                MainHeaderEl.removeClass("d-none");
            }
        }

        function ShowMainContent(setValue) {

            let MainContentEl = $("#MainContent");

            if (!setValue) {
                MainContentEl.removeClass("d-flex");
                MainContentEl.addClass("d-none");
            }

            if (setValue) {
                $("#MainContent").removeClass("d-none");
            }
        }

        function ShowFooter(setValue) {

            let MainFooterEl = $("#MainFooter");

            if (!setValue) {
                MainFooterEl.addClass("d-none");
            }

            if (setValue) {
                MainFooterEl.removeClass("d-none");
            }
        }

        $(document).ready(function () {
            ShowHeader(true);
            ShowMainContent(true);
            ShowFooter(false);
        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>