<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title Report Upper View</title>
    <link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>

    <header class="container-fluid">
        <div class="row iris-bg-light-blue p-2">

            <div class="col-4 d-flex align-items-center pl-0 pr-0">
                <a href="@Url.Action("Index", "Home")"><img class="img-fluid" width="300" height="76" src="~/Images/IRIS_logo_web_ltgray.svg" /></a>
            </div>

            <div class="col-2 ml-auto pl-0 pr-0">
                <div class="card iris-border-hinted iris-bg-light-blue">
                    <div class="card-body text-light p-1">
                        <div><strong class="text-dark">Username: </strong><span>Nicholas Fazzolari</span></div>
                        <div><strong class="text-dark">Tenant: </strong><span>Marion</span></div>
                    </div>
                    <div class="card-footer p-1">
                        <button type="button" class="btn btn-primary btn-sm">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="ToolBarContainer" class="container-fluid pl-0 pr-0">
        @(Html.Kendo().ToolBar()
        .Name("ReportToolBar")
        .Items(items =>
        {
            items.Add().Template("<input type='text' class='form-control' placeholder='Search' />");
            items.Add().Type(CommandType.Separator);
            items.Add().Type(CommandType.Button).Text("Custom Reports").Id("CustomReportBtn").Icon("k-icon k-i-track-changes-enable");
            items.Add().Type(CommandType.Button).Text("Edit Report").Id("EditReportBtn").Icon("k-icon k-i-pencil");
            items.Add().Type(CommandType.Button).Text("Finish Report").Id("FinishReportBtn").Icon("k-icon k-i-checkmark");
            items.Add().Type(CommandType.Button).Text("Support").Id("SupportBtn").Overflow(ShowInOverflowPopup.Always);
            items.Add().Type(CommandType.Button).Text("Users").Id("UserBtn").Overflow(ShowInOverflowPopup.Always);
            items.Add().Id("TenantDDList").OverflowTemplate("<select class='form-control' aria-label='Default select example'><option selected>Tenant List</option><option value='1'>One</option><option value='2'>Two</option> <option value='3'>Three</option></select>").Overflow(ShowInOverflowPopup.Always);
        })
        )
    </section>

    <section id="ReportListContainer" class="container-fluid mt-3 mb-3">
        <div class="row">

            <div id="ReportListCol" class="col-12">
                <div class="card">
                    <h4 class="card-header">Report List</h4>
                    <div class="card-body">
                        @* Grid instance *@
                        <div id="ExampleGrid"></div>
                        <button id="ShowDetailsBtn" type="button" class="btn btn-primary mt-3">Show Report Description</button>
                    </div>

                </div>
            </div>

            <div id="ReportDetailsCol" class="col-6 d-none">
                <div class="card">
                    <h4 class="card-header">
                        Report Details for:
                        <span class="badge bg-primary text-light">Accounts Payable Order</span>
                        <span class="badge bg-secondary text-light">APS1017</span>
                    </h4>
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <h4>Report Description:</h4>
                                <p>Accounts Payable Order summarizes an invoice description and payment by vendor.</p>
                            </div>
                            <div class="col">
                                <h4>Report Preview</h4>
                                <img class="rounded mx-auto d-block" src="https://place-hold.it/128" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button id="HideDetailsBtn" type="button" class="btn btn-primary mt-3">Close Report Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="ReportFilterContainer">
        @(Html.Kendo().ToolBar()
            .Name("ReportFilterToolbar")
            .Items(items =>
            {
                items.Add().Type(CommandType.Button).Text("Add Filter").Id("AddFilter").Icon("k-icon k-i-filter");
                items.Add().Type(CommandType.Button).Text("Clear Filter").Id("ClearFilter").Icon("k-icon k-i-filter-clear");
                items.Add().Type(CommandType.Button).Text("Save Filter").Id("SaveFilter").Icon("k-icon k-i-save");
                items.Add().Type(CommandType.Button).Text("Delete Filter").Id("DeleteFilter").Icon("k-icon k-i-delete");
                items.Add().Type(CommandType.Separator);
                items.Add().Id("TenantDDList").Template("<select class='form-control' aria-label='Default select example'><option selected>Filter List</option><option value='1'>One</option><option value='2'>Two</option> <option value='3'>Three</option></select>");
            })
            )
        <div class="row">

        </div>
        <div class="row">

        </div>
    </section>

    @* Window instances for various editing controls *@
    <div id="CustomReportWindow">@Html.Partial("_CustomReportWindow")</div>
    <div id="EditReportWindow">@Html.Partial("_EditReportWindow")</div>
    <div id="FinishReportWindow">@Html.Partial("_FinishReportWindow")</div>
    <div id="SupportWindow">@Html.Partial("_SupportWindow")</div>
    <div id="UserWindow">@Html.Partial("_UserWindow")</div>

    <script src="~/Scripts/custom/_ReportsMain.js"></script>
    <script src="~/Scripts/custom/CustomReportExampleGrid.js"></script>
</body>
</html>