@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @*<link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="container-fluid">
        @(Html.Kendo().TabStrip()
            .Name("tabstrip")
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Paris")
                    .Selected(true)
                    .Content(@<text>
                        <div class="weather">
                            <p>Rainy weather in Paris.</p>
                        </div>
                    </text>);

                tabstrip.Add().Text("Sofia")
                    .Content(@<text>
                        <div class="weather">
                            <p>Sunny weather in Sofia.</p>
                        </div>
                    </text>);

                tabstrip.Add().Text("Moscow")
                    .Content(@<text>
                        <div class="weather">
                            <p>Cloudy weather in Moscow.</p>
                        </div>
                    </text>);

                tabstrip.Add().Text("Sydney")
                    .Content(@<text>
                        <div class="weather">
                            <p>Rainy weather in Sidney.</p>
                        </div>
                    </text>);
            })
        )
    </div>
</body>
</html>
