@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="utilityPermitSubContractorFields" class="container-fluid mt-3 mb-3">

    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Axle Weight Fields</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight1">Axle Group 1 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight1")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight2">Axle Group 2 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight2")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight3">Axle Group 3 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight3")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight4">Axle Group 4 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight4")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight5">Axle Group 5 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight5")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight6">Axle Group 6 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight6")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight7">Axle Group 7 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight7")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight8">Axle Group 8 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight8")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight9">Axle Group 9 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight9")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight10">Axle Group 10 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight10")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight11">Axle Group 11 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight11")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleGroupWeight12">Axle Group 12 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleGroupWeight12")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Axle Spacing Fields</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing1">Axle Spacing 1:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing1")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing2">Axle Spacing 2:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing2")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing3">Axle Spacing 3:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing3")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing4">Axle Spacing 4:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing4")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing5">Axle Spacing 5:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing5")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing6">Axle Spacing 6:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing6")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing7">Axle Spacing 7:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing7")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing8">Axle Spacing 8:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing8")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing9">Axle Spacing 9:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing9")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing10">Axle Spacing 10:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing10")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing11">Axle Spacing 11:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing11")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddAxleSpacing12">Axle Spacing 12:</label>
                <div>
                    @(Html.Kendo().NumericTextBox()
                            .Name("AddAxleSpacing12")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Min(double.Parse("0.00"))
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

</div>