@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="utilityPermitSubContractorFields" class="container-fluid mt-3 mb-3">

    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Axle Weight Fields</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight1">Axle Group 1 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup1Weight)
                            .Name("EditAxleGroupWeight1")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight2">Axle Group 2 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup2Weight)
                            .Name("EditAxleGroupWeight2")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight3">Axle Group 3 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup3Weight)
                            .Name("EditAxleGroupWeight3")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight4">Axle Group 4 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup4Weight)
                            .Name("EditAxleGroupWeight4")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight5">Axle Group 5 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup5Weight)
                            .Name("EditAxleGroupWeight5")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight6">Axle Group 6 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup6Weight)
                            .Name("EditAxleGroupWeight6")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight7">Axle Group 7 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup7Weight)
                            .Name("EditAxleGroupWeight7")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight8">Axle Group 8 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup8Weight)
                            .Name("EditAxleGroupWeight8")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight9">Axle Group 9 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup9Weight)
                            .Name("EditAxleGroupWeight9")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight10">Axle Group 10 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup10Weight)
                            .Name("EditAxleGroupWeight10")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight11">Axle Group 11 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup11Weight)
                            .Name("EditAxleGroupWeight11")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleGroupWeight12">Axle Group 12 Weight:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleGroup12Weight)
                            .Name("EditAxleGroupWeight12")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Axle Spacing Fields</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing1">Axle Spacing 1:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing1)
                            .Name("EditAxleSpacing1")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing2">Axle Spacing 2:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing2)
                            .Name("EditAxleSpacing2")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing3">Axle Spacing 3:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing3)
                            .Name("EditAxleSpacing3")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing4">Axle Spacing 4:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing4)
                            .Name("EditAxleSpacing4")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing5">Axle Spacing 5:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing5)
                            .Name("EditAxleSpacing5")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing6">Axle Spacing 6:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing6)
                            .Name("EditAxleSpacing6")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing7">Axle Spacing 7:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing7)
                            .Name("EditAxleSpacing7")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing8">Axle Spacing 8:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing8)
                            .Name("EditAxleSpacing8")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing9">Axle Spacing 9:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing9)
                            .Name("EditAxleSpacing9")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing10">Axle Spacing 10:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing10)
                            .Name("EditAxleSpacing10")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing11">Axle Spacing 11:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing11)
                            .Name("EditAxleSpacing11")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAxleSpacing12">Axle Spacing 12:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.AxleSpacing12)
                            .Name("EditAxleSpacing12")
                            .Placeholder("0.00")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

</div>