@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="permitSiteFields" class="container-fluid mt-3 mb-3">

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSiteFirstName">Site First Name:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteFirstName")
                            .Placeholder("Enter first name")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSiteLastName">Site Last Name:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteLastName")
                            .Placeholder("Enter last name")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSiteInitial">Site Initial:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteInitial")
                            .Placeholder("Enter initial")
                            .HtmlAttributes(new { @class = "w-50" })

                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="AddSiteAddress1">Site Address 1:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteAddress1")
                            .Placeholder("Enter address line 1")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="AddSiteAddress2">Site Address 2:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteAddress2")
                            .Placeholder("Enter address line 2")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddSiteCity">Site City:</label>

                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteCity")
                            .Placeholder("Enter city")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddSiteState">Site State:</label>
                
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteState")
                            .Placeholder("Enter state")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddSiteZip">Site Zip:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteZip")
                            .Placeholder("Enter zip")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSiteHomePhone">Site Home Phone:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteHomePhone")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSiteWorkPhone">Site Work Phone:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteWorkPhone")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSiteEmail">Site Email:</label>

                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSiteEmail")
                            .Placeholder("name@domain.com")
                            )
                </div>
            </div>
        </div>
    </div>

</div>