@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="permitGeneralFields" class="container-fluid mt-3 mb-3">
    @* Identification data start *@
    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Identification Data</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditPermitNumber">Permit Number:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("EditPermitNumber")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAuthorizationNumber">Authorization Number:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.AuthorizationNumber)
                            .Name("EditAuthorizationNumber")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditApplicationNumber">Application Number:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.ApplicationNumber)
                            .Name("EditApplicationNumber")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditTypeOfAccess">Type of Access:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.PermitTypeOfAccess_Key)
                            .Name("EditTypeOfAccess")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoWidth(true)
                            .DataSource(d =>
                            {
                                d.Read(r => r.Action("GetAccessTypeList", "PermitMain").Type(HttpVerbs.Get));
                            }))
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditIssuedBy">Issued By:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.IssuedByPosition)
                            .Name("EditIssuedBy")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditIssueDate">Issue Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.IssueDate)
                            .Name("EditIssueDate")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditApprovedBy">Approved By:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.ApprovedBy)
                            .Name("EditApprovedBy")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditApprovedDate">Approved Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.ApprovedDate)
                            .Name("EditApprovedDate")
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="EditProjectDescription">Project Description:</label>
                <div>
                    @(Html.Kendo().TextAreaFor(m => m.ProjectDescription)
                        .Name("EditProjectDescription")
                        .Rows(5)
                        .MaxLength(500)
                        .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>

        </div>
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="EditMaintenanceDistrict">Maintenance District:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.RISMaintenanceDistrict_Key)
                            .Name("EditMaintenanceDistrict")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoWidth(true)
                            .DataSource(d =>
                            {
                                d.Read(r => r.Action("GetMaintenanceDistrictList", "PermitMain").Type(HttpVerbs.Get));
                            }))
                </div>
            </div>
        </div>
    </div>
    @* Identification data end *@

    @* Location data begin *@
    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Location Data</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditPlacement">Placement:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.RISPlacement_Key)
                            .Name("EditPlacement")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoWidth(true)
                            .DataSource(d =>
                            {
                                d.Read(r => r.Action("GetPlacementList", "PermitMain").Type(HttpVerbs.Get));
                            }))
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDirection">Direction:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.Direction)
                            .Name("EditDirection")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditRoadName">Road Name:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.RoadName_Key)
                            .Name("EditRoadName")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoWidth(true)
                            .DataSource(d =>
                            {
                                d.Read(r => r.Action("GetRoadNameList", "PermitMain").Type(HttpVerbs.Get));
                            }))
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditCrossRoadName">Cross Road Name:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.XRoadName_Key)
                            .Name("EditCrossRoadName")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoWidth(true)
                            .DataSource(d =>
                            {
                                d.Read(r => r.Action("GetRoadNameList", "PermitMain").Type(HttpVerbs.Get));
                            }))
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditMilepost">Milepost:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Milepost)
                            .Name("EditMilepost")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditBeginMilepost">Begin Milepost:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.BeginMilepost)
                            .Name("EditBeginMilepost")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditEndMilepost">End Milepost:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.EndMilepost)
                        .Name("EditEndMilepost")
                        .Decimals(2)
                        .Spinners(false)
                        )
                </div>
            </div>
        </div>
    </div>
    @* Location data end *@

    @* Begin physical properties *@
    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Physical Properties</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSidewalkLength">Sidewalk Length:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.SidewalkLength)
                            .Name("EditSidewalkLength")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSidewalkWidth">Sidewalk Width:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.SidewalkWidth)
                            .Name("EditSidewalkWidth")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditCurb">Curb:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.RISLookupCurb_Key)
                            .Name("EditCurb")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoWidth(true)
                            .DataSource(d =>
                            {
                                d.Read(r => r.Action("GetCurbList", "PermitMain").Type(HttpVerbs.Get));
                            }))
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditCulvertDiameter">Culvert Diameter:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.CulvertDiameter)
                            .Name("EditCulvertDiameter")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditCulvertLength">Culvert Length:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.CulvertLength)
                            .Name("EditCulvertLength")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditCulvertDepth">Culvert Depth:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.CulvertDepth)
                            .Name("EditCulvertDepth")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDrivewayLength">Driveway Length:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.DrivewayLength)
                            .Name("EditDrivewayLength")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDrivewayWidth">Driveway Width:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.DrivewayWidth)
                            .Name("EditDrivewayWidth")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditLength">Length:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Length)
                            .Name("EditLength")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditWidth">Width:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Width)
                            .Name("EditWidth")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDepth">Depth:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Depth)
                            .Name("EditDepth")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditRadius">Radius:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Radius)
                            .Name("EditRadius")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditAngle">Angle:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Angle)
                            .Name("EditAngle")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSlope">Slope:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Slope)
                            .Name("EditSlope")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDimension">Dimension:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.Dimension)
                            .Name("EditDimension")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDistance">Distance:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Distance)
                            .Name("EditDistance")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditOffsetDistance">Offset Distance:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.OffsetDistance)
                            .Name("EditOffsetDistance")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSetbackWidth">Setback Width:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.SetbackWidth)
                            .Name("EditSetbackWidth")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditMeasuredFrom">Measured From:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.MeasuredFrom)
                            .Name("EditMeasuredFrom")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDistanceToDitch">Distance To Ditch:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.DistanceToDitch)
                            .Name("EditDistanceToDitch")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditTopOfAccessDistanceFromTrafficLane">Top Of Access Distance From Traffic Lane:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.TopOfAccessDistanceFromTrafficLane)
                            .Name("EditTopOfAccessDistanceFromTrafficLane")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditMinimumBelowEdgeOfTrafficLane">Minimum Below Edge Of Traffic Lane:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.MinimumBelowEdgeOfTrafficLane)
                            .Name("EditMinimumBelowEdgeOfTrafficLane")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDistanceFromTrafficLane">Distance From Traffic Lane:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.DistanceFromTrafficLane)
                            .Name("EditDistanceFromTrafficLane")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditMinimumSightDistanceLeft">Minimum Sight Distance Left:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.MinimumSightDistanceLeft)
                            .Name("EditMinimumSightDistanceLeft")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditMinimumSightDistanceRight">Minimum Sight Distance Right:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.MinimumSightDistanceRight)
                            .Name("EditMinimumSightDistanceRight")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSurfaceType">Surface Type:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.SurfaceType_Key)
                            .Name("EditSurfaceType")
                            .AutoWidth(true)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .DataSource(ds =>
                                    {
                                ds.Read(r =>
                                        {
                                    r.Action("GetSurfaceTypeList", "PermitMain").Type(HttpVerbs.Get);
                                });
                            })
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDrawingNumber">Drawing Number:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.DrawingNumber)
                            .Name("EditDrawingNumber")
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSlopeAccessFeetFromTrafficLane">Slope Access Feet From Traffic Lane:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.SlopeAccessFeetFromTrafficLane)
                            .Name("EditSlopeAccessFeetFromTrafficLane")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSlopeAccessPercentFromTrafficLane">Slope Access Percent From Traffic Lane:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.SlopeAccessPercentFromTrafficLane)
                            .Name("EditSlopeAccessPercentFromTrafficLane")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditClearanceFeet">Clearance Feet:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ClearanceFeet)
                            .Name("EditClearanceFeet")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditTaxlotNumber">Tax Lot Number:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.TaxlotNumber)
                            .Name("EditTaxlotNumber")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditTownship">Township:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.Township)
                            .Name("EditTownship")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditRange">Range:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.Range)
                            .Name("EditRange")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSection">Section:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.Section)
                            .Name("EditSection")
                            )
                </div>
            </div>
        </div>
    </div>
    @* Physicial properties end *@

    @* Begin description data *@
    <div class="row">
        <div class="col">
            <h5 class="border-bottom">Description Data</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditApplicationDate">Application Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.ApplicationDate)
                            .Name("EditApplicationDate")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditInstallDate">Install Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.InstallDate)
                            .Name("EditInstallDate")
                            .HtmlAttributes(new { @style = "width:6vw;font-size:small;" })
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditExpireDate">Expire Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.ExpireDate)
                            .Name("EditExpireDate")
                            .HtmlAttributes(new { @style = "width:6vw;font-size:small;" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditPermitReturned">Permit Returned:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.PermitReturned)
                            .Name("EditPermitReturned")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditPaymentDate">Payment Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.PaymentDate)
                            .Name("EditPaymentDate")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditPaymentAmount">Payment Amount:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.PaymentAmount)
                            .Name("EditPaymentAmount")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditDescriptionOfWork">Description of Work:</label>
                <div>
                    @(Html.Kendo().TextAreaFor(m => m.DescriptionOfWork)
                            .Name("EditDescriptionOfWork")
                            .Rows(5)
                            .MaxLength(500)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditLocationOfWork">Location of Work:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.LocationOfWork)
                            .Name("EditLocationOfWork")
                            .HtmlAttributes(new { @style = "height:3vh;width:10vw;font-size:small;" })
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditNearestLandMark">Nearest Landmark:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.NearestLandMark)
                            .Name("EditNearestLandMark")
                            .HtmlAttributes(new { @style = "height:3vh;width:8vw;font-size:small;" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditWorkBeingPerformed">Work Being Performed:</label>
                <div>
                    @(Html.Kendo().TextAreaFor(m => m.WorkBeingPerformedBy)
                            .Name("EditWorkBeingPerformed")
                            .Rows(5)
                            .MaxLength(500)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditInsuranceProvidedCB">Insurance Provided:</label>
                <div>
                    @(Html.Kendo().CheckBoxFor(m => m.InsuranceProvided)
                            .Name("EditInsuranceProvidedCB")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditTwoSetsOfPlansProvidedCB">Two Sets Of Plans Provided:</label>
                <div>
                    @(Html.Kendo().CheckBoxFor(m => m.TwoSetsOfPlansProvided)
                            .Name("EditTwoSetsOfPlansProvidedCB")
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditBondGuaranteeAmount">Bond Guarantee Amount:</label>
                <div>
                    @(Html.Kendo().NumericTextBoxFor(m => m.BondGuaranteeAmount)
                            .Name("EditBondGuaranteeAmount")
                            .Decimals(2)
                            .Spinners(false)
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditFeeType">Fee Type:</label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m.PermitFeeType_Key)
                            .Name("EditFeeType")
                            .AutoWidth(true)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .DataSource(ds =>
                                    {
                                ds.Read(r =>
                                        {
                                    r.Action("GetFeeTypeList", "PermitMain").Type(HttpVerbs.Get);
                                });
                            })
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditWorkOrderNumber">Work Order Number:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.WorkOrderNumber)
                            .Name("EditWorkOrderNumber")
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditSpecialProvisions">Special Provisions:</label>
                <div>
                    @(Html.Kendo().TextAreaFor(m => m.SpecialProvisions)
                            .Name("EditSpecialProvisions")
                            .Rows(5)
                            .MaxLength(500)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditComment">Comment:</label>
                <div>
                    @(Html.Kendo().TextAreaFor(m => m.Comment)
                        .Name("EditComment")
                        .Rows(5)
                        .MaxLength(500)
                        .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="EditPermissionGrantedDate">Permission Granted Date:</label>
                <div>
                    @(Html.Kendo().DatePickerFor(m => m.PermissionGrantedDate)
                        .Name("EditPermissionGrantedDate")
                        )
                </div>
            </div>
        </div>
    </div>
    @* End description data *@
</div>