@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="permitSiteFields" class="container-fluid mt-3 mb-3">

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="EditSiteFirstName">Site First Name:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteFirstName)
                            .Name("EditSiteFirstName")
                            .Placeholder("Enter first name")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="EditSiteLastName">Site Last Name:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteLastName)
                            .Name("EditSiteLastName")
                            .Placeholder("Enter last name")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="EditSiteInitial">Site Initial:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteInitial)
                            .Name("EditSiteInitial")
                            .Placeholder("Enter initial")
                            .HtmlAttributes(new { @class = "w-50" })

                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="EditSiteAddress1">Site Address 1:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteAddress1)
                            .Name("EditSiteAddress1")
                            .Placeholder("Enter address line 1")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="EditSiteAddress2">Site Address 2:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteAddress2)
                            .Name("EditSiteAddress2")
                            .Placeholder("Enter address line 2")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="EditSiteCity">Site City:</label>

                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteCity)
                            .Name("EditSiteCity")
                            .Placeholder("Enter city")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="EditSiteState">Site State:</label>

                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteState)
                            .Name("EditSiteState")
                            .Placeholder("Enter state")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="EditSiteZip">Site Zip:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteZip)
                            .Name("EditSiteZip")
                            .Placeholder("Enter zip")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="EditSiteHomePhone">Site Home Phone:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteHomePhone)
                            .Name("EditSiteHomePhone")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="EditSiteWorkPhone">Site Work Phone:</label>
                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteWorkPhone)
                            .Name("EditSiteWorkPhone")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="EditSiteEmail">Site Email:</label>

                <div>
                    @(Html.Kendo().TextBoxFor(m => m.SiteEmail)
                            .Name("EditSiteEmail")
                            .Placeholder("name@domain.com")
                            )
                </div>
            </div>
        </div>
    </div>

</div>