@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="permitApplicantFields" class="container-fluid mt-3 mb-3">

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddApplicant" style="font-size:small;">Applicant:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicant")
                            .Placeholder("Enter applicant")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddApplicantPosition">Applicant Position:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantPosition")
                            .Placeholder("Enter applicant position")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddApplicantCompany">Applicant Company:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantCompany")
                            .Placeholder("Enter applicant company")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="AddApplicantAddress">Applicant Address:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantAddress")
                            .Placeholder("Enter applicant address")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddApplicantCity">Applicant City:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantCity")
                            .Placeholder("Enter applicant city")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddApplicantState">Applicant State:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantState")
                            .Placeholder("Enter applicant state")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddApplicantZip">Applicant Zip:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantZip")
                            .Placeholder("Enter applicant zip code")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddApplicantPhone">Applicant Phone:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantPhone")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddApplicantMobile">Applicant Mobile:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantMobile")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddApplicantEmail">Applicant Email:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantEmail")
                            .Placeholder("name@domain.com")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddApplicantFax">Applicant Fax:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddApplicantFax")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
    </div>

</div>