@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="utilityPermitSubContractorFields" class="container-fluid mt-3 mb-3">

    <div class="row mt-3">
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSubContractorContact">Sub Contractor Contact:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorContact")
                            .Placeholder("Enter subcontractor contact")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSubContractorCompanyName">Sub Contractor Company Name:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorCompanyName")
                            .Placeholder("Enter sub contractor company name")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="form-group">
                <label for="AddSubContractorContactJobTitle">Sub Contractor Contact Job Title:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorContactJobTitle")
                            .Placeholder("Enter sub contractor job title")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 border-left">
            <div class="form-group">
                <label for="AddSubContractorAddress">Sub Contractor Address:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorAddress")
                            .Placeholder("Enter sub contractor address")
                            .HtmlAttributes(new { @class = "w-100" })
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddSubContractorCity">Sub Contractor City:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorCity")
                            .Placeholder("Enter city")
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddSub ContractorState">Sub Contractor State:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorState")
                            .Placeholder("Enter state")
                            )
                </div>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="form-group">
                <label for="AddSubContractorZip">Sub Contractor Zip:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorZip")
                            .Placeholder("Enter zip code")
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddSubContractorPhone">Sub Contractor Phone:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorPhone")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddSubContractorMobile">Sub Contractor Mobile:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorMobile")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddSubContractorEmail">Sub Contractor Email:</label>

                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorEmail")
                            .Placeholder("name@domain.com")
                            )
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddSubContractorFax">Sub Contractor Fax:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorFax")
                            .Placeholder("(000)-000-0000")
                            )
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 border-left">
            <div class="form-group">
                <label for="AddSubContractorNumber">Sub Contractor Number:</label>
                <div>
                    @(Html.Kendo().TextBox()
                            .Name("AddSubContractorNumber")
                            .Placeholder("Enter sub contractor number")
                            )
                </div>
            </div>
        </div>
    </div>

</div>