<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/custom/windowEx_openWindow.js" type="text/javascript"></script>
<script src="~/Scripts/custom/windowEx_openJQWindow.js" type="text/javascript"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>

<section id="openWinBtnSection" class="container-fluid">
    <div class="row">
        <div class="col">
            @(Html.Kendo().Button()
            .Name("openKendoWindowBtn")
            .Content("Open Kendo Window")
            .HtmlAttributes( new { type = "button", @class = "btn btn-primary" } )
            )
            @(Html.Kendo().Button()
            .Name("openJsKendoWindowBtn")
            .Content("Open JQuery Kendo Window")
            .HtmlAttributes( new { type = "button", @class = "btn btn-primary ml-2" } )
            )
        </div>
    </div>

    <div class="row">
        @* Kendo ASP.NET MVC HTML Helper based window *@
        <div class="col">
            @(Html.Kendo().Window()
            .Name("window")
            .Title("Support Modal Overlay")
            .Width(1200)
            .Height(512)
            .Position(p => p.Left(100).Top(100))
            .Draggable(false)
            .Content(@<p>Add the support toolbar and grid here</p>)
            .Actions(actions => actions
                .Maximize()
                .Close()
                )
            .Events(events => events.Close("close"))
            .Modal(true)
            .Visible(false)
            )
        </div>
    </div>
</section>

@* Kendo UI for JQuery based window instance *@
<div id="KendoWindowJQuery"></div>