
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-us" class="h-100 max-height-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IRIS10 UI Development Sandbox - RIS Main</title>

    @Styles.Render("~/Content/css")

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/fb9297107b.js" crossorigin="anonymous"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="d-flex flex-column h-100 max-height-full">

    <header id="MainHeader" class="iris-bg-light-blue">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-2 p-3">
                    <img src="~/Images/IRIS_Logo_Gray_Light.svg" />
                </div>
                <div class="col-md-auto ml-auto d-flex align-items-center">
                    <div class="d-flex bg-light mr-3 p-2 rounded rounded-sm">
                        <div class="d-flex justify-content-center align-items-center">
                            <strong class="iris-type-dark-blue">Nicholas Fazzolari (AOCCRP)</strong>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-primary ml-3"><span>Logout</span> <span class="k-icon k-i-logout pl-2"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main id="MainContainer" class="d-flex flex-grow-1 max-height-full">
        <div class="d-flex flex-column container-fluid p-0 max-height-full">
            <div class="row flex-grow-1 no-gutters max-height-full">
                <div class="d-flex flex-column col-md max-height-full">

                    @(Html.Kendo().Drawer()
                        .Name("drawer")
                        .Template(@"
                                <ul>
                                    <li id='ToggleDrawer' class='k-state-selected' data-role='drawer-item'><span class='k-icon k-i-menu'></span><span class='k-item-text' data-id='Road'>Road Information System</span></li>
                                    <li data-role='drawer-separator'></li>

                                    <li id='InformationItem' data-role='drawer-item'><span class='fas fa-info-circle fa-icon-li-padding'></span><span class='k-item-text pl-3' data-id='Information'>Information</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Boundaries'>Boundaries</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='CuldesacsTurnouts'>Culdesacs & Turnouts</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Curbs'>Curbs</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Intersections'>Intersections</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='MapLocators'>Map Locators</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Medians'>Medians</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='ReferencePoints'>Reference Points</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RightOfWay'>Right of Way</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Road'>Road</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RoadFeatures'>Road Features</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RoadSearch'>Road Search</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Shoulders'>Shoulders</span></li>
                                    <span></span>
                                    <li data-role='drawer-separator'></li>

                                    <li data-role='drawer-item'><span class='fas fa-industry-alt fa-icon-li-padding'></span><span class='k-item-text pl-3' data-id='Appurtenances'>Appurtenances</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Approaches'>Approaches</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='CatchBasins'>Catch Basins</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Culverts'>Culverts</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Ditches'>Ditches</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='GatesCattleguards'>Gates & Cattleguards</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='GuardrailsBarries'>Guardrails and Barries</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Illumination'>Illumination</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='ManholesVaults'>Manholes & Vaults</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='PavementMarkings'>Pavement Markings</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RailroadCrossings'>Railroad Crossings</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Signals'>Signals</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Signs'>Signs</span></li>
                                    <span></span>
                                    <li data-role='drawer-separator'></li>

                                    <li data-role='drawer-item'><span class='fas fa-inventory fa-icon-li-padding'></span><span class='k-item-text pl-3' data-id='Miscellaneous'>Miscellaneous</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='AdjacentDevelopments'>Adjacent Developments</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='BikeFacilities'>Bike Facilities</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='LocationReference'>Location Reference</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Monumentation'>Monumentation</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='MUTCD'>MUTCD</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RestrictedParking'>Restricted Parking</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RoadUseConstraints'>Road Use Constraints</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='SpeedZone'>Speed Zone</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='StreetAddress'>Street Address</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='UniqueRoutes'>Unique Routes</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Utilities'>Utilities</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Walks'>Walks</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Wall'>Wall</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='WheelchairRamps'>Wheelchair Ramps</span></li>
                                    <span></span>
                                    <li data-role='drawer-separator'></li>

                                    <li data-role='drawer-item'><span class='fas fa-user-tie fa-icon-li-padding'></span><span class='k-item-text pl-3' data-id='Management'>Management</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Accidents'>Accidents</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='AdoptaRoad'>Adopt a Road</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='AverageDailyTraffic'>Average Daily Traffic</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='BridgeInventory'>Bridge Inventory</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Levee'>Levee</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='MaintenanceRoutes'>Maintenance Routes</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='MaintenanceScheduleHistory'>Maintenance Schedule History</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='MaintenanceScheduleSetup'>Maintenance Schedule Setup</span></li>
                                    <span></span>
                                    <li data-role='drawer-separator'></li>

                                    <li data-role='drawer-item'><span class='fas fa-book fa-icon-li-padding'></span><span class='k-item-text pl-3' data-id='RoadDefinitions'>Road Definitions</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Jurisdiction'>Jurisdiction</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='Lanes'>Lanes</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RoadClassifications'>Road Classifications</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='RoadSegments'>Road Segments</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='SurfaceType'>Surface Type</span></li>
                                    <span></span>
                                    <li data-role='drawer-separator'></li>

                                    <li data-role='drawer-item'><span class='fas fa-tools fa-icon-li-padding'></span><span class='k-item-text pl-3' data-id='RISUtilities'>RIS Utilities</span><span class='k-spacer'></span><span class='k-icon k-i-arrow-chevron-right'></span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='CountyFunctionalClass'>County Functional Class</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='LookupValues'>Lookup Values</span></li>
                                    <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-none'></span><span class='k-icon k-i-style-builder'></span><span class='k-item-text' data-id='MaintenanceDistrict'>Maintenance District</span></li>
                                    <span></span>
                                    <li data-role='drawer-separator'></li>
                                </ul>
                                ")
                        .Mode("push")
                        .Mini(m=>m.Template(
                        @"<ul id='MiniDrawer'>
                            <li id='MiniToggleDrawer' class='k-state-selected' data-role='drawer-item'><span class='k-icon k-i-menu'></span><span class='k-item-text hidden' data-id='Road'>Road Information System</span></li>
                            <li data-role='drawer-separator'></li>

                            <li id='MiniInformationItem' data-role='drawer-item' data-id='Information' class='flex-column'><span class='fas fa-info-circle'></span><div id='ExpandIcon' class='k-icon k-i-arrow-chevron-down'></div></li>
                            <li data-role='drawer-item' data-id='Boundaries' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Boundaries'>Boundaries</span></li>
                            <li data-role='drawer-item' data-id='CuldesacsTurnouts' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='CuldesacsTurnouts'>Culdesacs & Turnouts</span></li>
                            <li data-role='drawer-item' data-id='Curbs' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Curbs'>Curbs</span></li>
                            <li data-role='drawer-item' data-id='Intersections' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Intersections'>Intersections</span></li>
                            <li data-role='drawer-item' data-id='MapLocators' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='MapLocators'>Map Locators</span></li>
                            <li data-role='drawer-item' data-id='Medians' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Medians'>Medians</span></li>
                            <li data-role='drawer-item' data-id='ReferencePoints' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='ReferencePoints'>Reference Points</span></li>
                            <li data-role='drawer-item' data-id='RightOfWay' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RightOfWay'>Right Of Way</span></li>
                            <li data-role='drawer-item' data-id='Shoulders' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Shoulders'>Shoulders</span></li>
                            <li data-role='drawer-item' data-id='Road' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Road'>Road</span></li>
                            <li data-role='drawer-item' data-id='RoadFeatures' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RoadFeatures'>Road Features</span></li>
                            <li data-role='drawer-item' data-id='RoadSearch' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RoadSearch'>Road Search</span></li>
                            <span></span>
                            <li data-role='drawer-separator'></li>

                            <li id='MiniAppurtenances' data-role='drawer-item' data-id='Appurtenances' class='flex-column'><span class='fas fa-industry-alt'></span><div id='ExpandIcon' class='k-icon k-i-arrow-chevron-down'></div></li>
                            <li data-role='drawer-item' data-id='Approaches' class='hidden'><span class='k-icon k-i-style-builder'></span>          <span class='k-item-text hidden' data-id='Approaches'>Approaches</span>                   </li>
                            <li data-role='drawer-item' data-id='CatchBasins' class='hidden'><span class='k-icon k-i-style-builder'></span>         <span class='k-item-text hidden' data-id='CatchBasins'>Catch Basins</span>                </li>
                            <li data-role='drawer-item' data-id='Culverts' class='hidden'><span class='k-icon k-i-style-builder'></span>            <span class='k-item-text hidden' data-id='Culverts'>Culverts</span>                       </li>
                            <li data-role='drawer-item' data-id='Ditches' class='hidden'><span class='k-icon k-i-style-builder'></span>             <span class='k-item-text hidden' data-id='Ditches'>Ditches</span>                         </li>
                            <li data-role='drawer-item' data-id='GatesCattleguards' class='hidden'><span class='k-icon k-i-style-builder'></span>   <span class='k-item-text hidden' data-id='GatesCattleguards'>Gates & Cattleguards</span>  </li>
                            <li data-role='drawer-item' data-id='GuardrailsBarries' class='hidden'><span class='k-icon k-i-style-builder'></span>   <span class='k-item-text hidden' data-id='GuardrailsBarries'>Guardrails & Barries</span></li>
                            <li data-role='drawer-item' data-id='Illumination' class='hidden'><span class='k-icon k-i-style-builder'></span>        <span class='k-item-text hidden' data-id='Illumination'>Illumination</span>               </li>
                            <li data-role='drawer-item' data-id='ManholesVaults' class='hidden'><span class='k-icon k-i-style-builder'></span>      <span class='k-item-text hidden' data-id='ManholesVaults'>Manholes & Vaults</span>        </li>
                            <li data-role='drawer-item' data-id='PavementMarkings' class='hidden'><span class='k-icon k-i-style-builder'></span>    <span class='k-item-text hidden' data-id='PavementMarkings'>Pavement Markings</span>      </li>
                            <li data-role='drawer-item' data-id='RailroadCrossings' class='hidden'><span class='k-icon k-i-style-builder'></span>   <span class='k-item-text hidden' data-id='RailroadCrossings'>Railroad Crossings</span>    </li>
                            <li data-role='drawer-item' data-id='Signals' class='hidden'><span class='k-icon k-i-style-builder'></span>             <span class='k-item-text hidden' data-id='Signals'>Signals</span>                         </li>
                            <li data-role='drawer-item' data-id='Signs' class='hidden'><span class='k-icon k-i-style-builder'></span>               <span class='k-item-text hidden' data-id='Signs'>Signs</span>                             </li>
                            <span></span>
                            <li data-role='drawer-separator'></li>

                            <li id='MiniMiscellaneous' data-role='drawer-item' data-id='Miscellaneous' class='flex-column'><span class='fas fa-inventory'></span><div id='ExpandIcon' class='k-icon k-i-arrow-chevron-down'></div></li>
                            <li data-role='drawer-item' data-id='AdjacentDevelopments' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='AdjacentDevelopments'>Adjacent Developments</span></li>
                            <li data-role='drawer-item' data-id='BikeFacilities' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='BikeFacilities'>Bike Facilities</span>            </li>
                            <li data-role='drawer-item' data-id='LocationReference' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='LocationReference'>Location Reference</span>      </li>
                            <li data-role='drawer-item' data-id='Monumentation' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Monumentation'>Monumentation</span>               </li>
                            <li data-role='drawer-item' data-id='MUTCD' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='MUTCD'>MUTCD</span>                               </li>
                            <li data-role='drawer-item' data-id='RestrictedParking' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RestrictedParking'>Restricted Parking</span>      </li>
                            <li data-role='drawer-item' data-id='RoadUseConstraints' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RoadUseConstraints'>Road Use Constraints</span>   </li>
                            <li data-role='drawer-item' data-id='SpeedZone' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='SpeedZone'>Speed Zone</span>                      </li>
                            <li data-role='drawer-item' data-id='StreetAddress' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='StreetAddress'>Street Address</span>              </li>
                            <li data-role='drawer-item' data-id='UniqueRoutes' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='UniqueRoutes'>Unique Routes</span>                </li>
                            <li data-role='drawer-item' data-id='Utilities' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Utilities'>Utilities</span>                       </li>
                            <li data-role='drawer-item' data-id='Walks' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Walks'>Walks</span>                               </li>
                            <li data-role='drawer-item' data-id='Wall' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Wall'>Wall</span>                                 </li>
                            <li data-role='drawer-item' data-id='WheelchairRamps' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='WheelchairRamps'>Wheelchair Ramps</span>          </li>
                            <span></span>
                            <li data-role='drawer-separator'></li>

                            <li id='MiniManagement' data-role='drawer-item' data-id='Management' class='flex-column'><span class='fas fa-user-tie'></span><div id='ExpandIcon' class='k-icon k-i-arrow-chevron-down'></div></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Accidents'>Accidents</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='AdoptaRoad'>Adopt a Road</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='AverageDailyTraffic'>Average Daily Traffic</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='BridgeInventory'>Bridge Inventory</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Levee'>Levee</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='MaintenanceRoutes'>Maintenance Routes</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='MaintenanceScheduleHistory'>Maintenance Schedule History</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='MaintenanceScheduleSetup'>Maintenance Schedule Setup</span></li>
                            <span></span>
                            <li data-role='drawer-separator'></li>

                            <li id='MiniRoadDefs' data-role='drawer-item' data-id='RoadDefinitions' class='flex-column'><span class='fas fa-book'></span><div id='ExpandIcon' class='k-icon k-i-arrow-chevron-down'></div></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Jurisdiction'>Jurisdiction</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='Lanes'>Lanes</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RoadClassifications'>Road Classifications</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='RoadSegments'>Road Segments</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='SurfaceType'>Surface Type</span></li>
                            <span></span>
                            <li data-role='drawer-separator'></li>

                            <li id='MiniRisUtilities' data-role='drawer-item' data-id='RISUtilities' class='flex-column'><span class='fas fa-tools'></span><div id='ExpandIcon' class='k-icon k-i-arrow-chevron-down'></div></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='CountyFunctionalClass'>County Functional Class</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='LookupValues'>Lookup Values</span></li>
                            <li data-role='drawer-item' class='hidden'><span class='k-icon k-i-style-builder'></span><span class='k-item-text hidden' data-id='MaintenanceDistrict'>Maintenance District</span></li>
                            <span></span>
                            <li data-role='drawer-separator'></li>
                        </ul>"
                        ))
                        .Position("left")
                        .AutoCollapse(false)
                        .MinHeight(330)
                        .SwipeToOpen(true)
                        .Content(@"
                        <div id='drawer-content'>
                            <div id='Boundaries' class='hidden'>
                                <h4>Boundaries</h4>
                            </div>
                            <div id='CuldesacsTurnouts' class='hidden'>
                                <h4>Culdesacs Turnouts</h4>
                            </div>
                            <div id='Curbs' class='hidden'>
                                <h4>Curbs</h4>
                            </div>
                            <div id='Intersections' class='hidden'>
                                <h4>Intersections</h4>
                            </div>
                            <div id='MapLocators' class='hidden'>
                                <h4>Map Locators</h4>
                            </div>
                            <div id='Medians' class='hidden'>
                                <h4>Medians</h4>
                            </div>
                            <div id='ReferencePoints' class='hidden'>
                                <h4>Reference Points</h4>
                            </div>
                            <div id='RightOfWay' class='hidden'>
                                <h4>Right Of Way</h4>
                            </div>
                            <div id='Road' class='hidden'>
                                <h4>Road</h4>
                            </div>
                            <div id='RoadFeatures' class='hidden'>
                                <h4>Road Features</h4>
                            </div>
                            <div id='RoadSearch' class='hidden'>
                                <h4>Road Search</h4>
                            </div>
                            <div id='Shoulders' class='hidden'>
                                <h4>Shoulders</h4>
                            </div>

                            <div id='Approaches' class='hidden'>
                                <h4>Approaches</h4>
                            </div>
                            <div id='CatchBasins' class='hidden'>
                                <h4>Catch Basins</h4>
                            </div>
                            <div id='Culverts' class='hidden'>
                                <h4>Culverts</h4>
                            </div>
                            <div id='Ditches' class='hidden'>
                                <h4>Ditches</h4>
                            </div>
                            <div id='GatesCattleguards' class='hidden'>
                                <h4>Gates & Cattleguards</h4>
                            </div>
                            <div id='GuardrailsBarries' class='hidden'>
                                <h4>Guardrails & Barries</h4>
                            </div>
                            <div id='Illumination' class='hidden'>
                                <h4>Illumination</h4>
                            </div>
                            <div id='ManholesVaults' class='hidden'>
                                <h4>Manholes & Vaults</h4>
                            </div>
                            <div id='PavementMarkings' class='hidden'>
                                <h4>Pavement Markings</h4>
                            </div>
                            <div id='RailroadCrossings' class='hidden'>
                                <h4>Railroad Crossings</h4>
                            </div>
                            <div id='Signals' class='hidden'>
                                <h4>Signals</h4>
                            </div>
                            <div id='Signs' class='hidden'>
                                <h4>Signs</h4>
                            </div>

                            <div id='AdjacentDevelopments' class='hidden'>
                                <h4>Adjacent Developments</h4>
                            </div>
                            <div id='BikeFacilities' class='hidden'>
                                <h4>Bike Facilities</h4>
                            </div>
                            <div id='LocationReference' class='hidden'>
                                <h4>Location Reference</h4>
                            </div>
                            <div id='Monumentation' class='hidden'>
                                <h4>Monumentation</h4>
                            </div>
                            <div id='MUTCD' class='hidden'>
                                <h4>MUTCD</h4>
                            </div>
                            <div id='RestrictedParking' class='hidden'>
                                <h4>Restricted Parking</h4>
                            </div>
                            <div id='RoadUseConstraints' class='hidden'>
                                <h4>Road Use Constraints</h4>
                            </div>
                            <div id='SpeedZone' class='hidden'>
                                <h4>Speed Zone</h4>
                            </div>
                            <div id='StreetAddress' class='hidden'>
                                <h4>Street Address</h4>
                            </div>
                            <div id='UniqueRoutes' class='hidden'>
                                <h4>Unique Routes</h4>
                            </div>
                            <div id='Utilities' class='hidden'>
                                <h4>Utilities</h4>
                            </div>
                            <div id='Walks' class='hidden'>
                                <h4>Walks</h4>
                            </div>
                            <div id='Wall' class='hidden'>
                                <h4>Wall</h4>
                            </div>
                            <div id='WheelchairRamps' class='hidden'>
                                <h4>Wheelchair Ramps</h4>
                            </div>

                            <div id='Accidents' class='hidden'>
                                <h4>Accidents</h4>
                            </div>
                            <div id='AdoptaRoad' class='hidden'>
                                <h4>Adopt a Road</h4>
                            </div>
                            <div id='AverageDailyTraffic' class='hidden'>
                                <h4>Average Daily Traffic</h4>
                            </div>
                            <div id='BridgeInventory' class='hidden'>
                                <h4>Bridge Inventory</h4>
                            </div>
                            <div id='Levee' class='hidden'>
                                <h4>Levee</h4>
                            </div>
                            <div id='MaintenanceRoutes' class='hidden'>
                                <h4>Maintenance Routes</h4>
                            </div>
                            <div id='MaintenanceScheduleHistory' class='hidden'>
                                <h4>Maintenance Schedule History</h4>
                            </div>
                            <div id='MaintenanceScheduleSetup' class='hidden'>
                                <h4>Maintenance Schedule Setup</h4>
                            </div>

                            <div id='Jurisdiction' class='hidden'>
                                <h4>Jurisdiction</h4>
                            </div>
                            <div id='Lanes' class='hidden'>
                                <h4>Lanes</h4>
                            </div>
                            <div id='RoadClassifications' class='hidden'>
                                <h4>RoadClassifications</h4>
                            </div>
                            <div id='RoadSegments' class='hidden'>
                                <h4>Road Segments</h4>
                            </div>
                            <div id='SurfaceType' class='hidden'>
                                <h4>Surface Type</h4>
                            </div>

                            <div id='CountyFunctionalClass' class='hidden'>
                                <h4>County Functional Class</h4>
                            </div>
                            <div id='LookupValues' class='hidden'>
                                <h4>Lookup Values</h4>
                            </div>
                            <div id='MaintenanceDistrict' class='hidden'>
                                <h4>Maintenance District</h4>
                            </div>
                        </div>
                        ")
                        .Events(x => x.ItemClick("onItemClick"))
                        )

                </div>
            </div>
        </div>
    </main>

    <script>

        // Sets the difference between the main header and main container when drawer items are expanded
        function SetContainerHeight() {
            let mainHeader = document.getElementById("MainHeader");
            let mainContainer = document.getElementById("MainContainer");
            let headerHeight = mainHeader.offsetHeight;
            let mainHeight = mainContainer.offsetHeight;

            let newHeight = mainHeight - headerHeight;

            console.log("Header height: " + headerHeight + " , Main container height: " + mainHeight + " , New main height: " + newHeight);

            mainContainer.style.height = newHeight + "px";
        }

        // Sets the width of the drawer items wrapper based on the existence of a scrollbar on it
        function SetDrawerContainerWidthOnScrollbar() {
            let mainContainer = document.getElementById("MainContainer");
            let drawerItemsWrapperEl = document.querySelector(".k-drawer-wrapper");
            let drawerItemsEl = document.querySelector(".k-drawer-items");

            let mainHeight = mainContainer.offsetHeight;
            let drawerItemsHeight = drawerItemsEl.offsetHeight;

            if (drawerItemsHeight > mainHeight) {
                drawerItemsWrapperEl.style.width = "54px";
                console.log(drawerItemsWrapperEl.style.width);
            }

            if (drawerItemsHeight < mainHeight) {
                drawerItemsWrapperEl.style.width = "48px";
            }

            console.log("Container height:" + mainHeight + " Drawer items height: " + drawerItemsHeight);
        }

        function onItemClick(e) {
            if (!e.item.hasClass("k-drawer-separator")) {
                var drawerContainer = e.sender.drawerContainer;
                var expandIcon = e.item.find("span.k-i-arrow-chevron-right");
                var collapseIcon = e.item.find("span.k-i-arrow-chevron-down");
                drawerContainer.find("#drawer-content > div").addClass("hidden");
                drawerContainer.find("#drawer-content").find("#" + e.item.find(".k-item-text").attr("data-id")).removeClass("hidden");

                SetContainerHeight();

                if (expandIcon.length) {
                    e.item.nextUntil('span').removeClass("hidden");
                    expandIcon.removeClass("k-i-arrow-chevron-right").addClass("k-i-arrow-chevron-down");
                }

                if (collapseIcon.length) {
                    e.item.nextUntil('span').addClass("hidden");
                    collapseIcon.addClass("k-i-arrow-chevron-right").removeClass("k-i-arrow-chevron-down");
                }
            }
        }

        $(document).ready(function () {

            $("#drawer").data("kendoDrawer").show();
            $(".k-drawer-container").addClass("h-100");

            SetContainerHeight();

            // Toggle drawer in mini mode
            $('.k-drawer-container').on('click', '#MiniToggleDrawer', function () {
                var drawerInstance = $("#drawer").data().kendoDrawer;
                var drawerContainer = drawerInstance.drawerContainer;

                if (drawerContainer.hasClass("k-drawer-expanded")) {
                    drawerInstance.hide();
                } else {
                    drawerInstance.show();
                }
            });

            // Toggle drawer in full mode
            $(".k-drawer-container").on('click', '#ToggleDrawer', function () {

                var drawerInstance = $("#drawer").data().kendoDrawer;
                var drawerContainer = drawerInstance.drawerContainer;

                if (drawerContainer.hasClass("k-drawer-expanded")) {
                    drawerInstance.hide();
                } else {
                    drawerInstance.show();
                }
            });

            // Show/Hide items
            $(".k-drawer-items").on('click', '#MiniInformationItem', function (e) {

                let clickedItem = $(e.currentTarget);
                let expandIcon = clickedItem.find("#ExpandIcon");

                SetContainerHeight();

                if (expandIcon.hasClass('k-i-arrow-chevron-down')) {
                    expandIcon.removeClass('k-i-arrow-chevron-down').addClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').removeClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }

                if (expandIcon.hasClass('k-i-arrow-chevron-up')) {
                    expandIcon.addClass('k-i-arrow-chevron-down').removeClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').addClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }
            });

            $(".k-drawer-items").on('click', '#MiniAppurtenances', function (e) {

                let clickedItem = $(e.currentTarget);
                let expandIcon = clickedItem.find("#ExpandIcon");

                SetContainerHeight();

                if (expandIcon.hasClass('k-i-arrow-chevron-down')) {
                    expandIcon.removeClass('k-i-arrow-chevron-down').addClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').removeClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }

                if (expandIcon.hasClass('k-i-arrow-chevron-up')) {
                    expandIcon.addClass('k-i-arrow-chevron-down').removeClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').addClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }
            });

            $(".k-drawer-items").on('click', '#MiniMiscellaneous', function (e) {

                let clickedItem = $(e.currentTarget);
                let expandIcon = clickedItem.find("#ExpandIcon");

                SetContainerHeight();

                if (expandIcon.hasClass('k-i-arrow-chevron-down')) {
                    expandIcon.removeClass('k-i-arrow-chevron-down').addClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').removeClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }

                if (expandIcon.hasClass('k-i-arrow-chevron-up')) {
                    expandIcon.addClass('k-i-arrow-chevron-down').removeClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').addClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }
            });

            $(".k-drawer-items").on('click', '#MiniManagement', function (e) {

                let clickedItem = $(e.currentTarget);
                let expandIcon = clickedItem.find("#ExpandIcon");

                SetContainerHeight();

                if (expandIcon.hasClass('k-i-arrow-chevron-down')) {
                    expandIcon.removeClass('k-i-arrow-chevron-down').addClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').removeClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }

                if (expandIcon.hasClass('k-i-arrow-chevron-up')) {
                    expandIcon.addClass('k-i-arrow-chevron-down').removeClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').addClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }
            });

            $(".k-drawer-items").on('click', '#MiniRoadDefs', function (e) {

                let clickedItem = $(e.currentTarget);
                let expandIcon = clickedItem.find("#ExpandIcon");

                SetContainerHeight();

                if (expandIcon.hasClass('k-i-arrow-chevron-down')) {
                    expandIcon.removeClass('k-i-arrow-chevron-down').addClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').removeClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }

                if (expandIcon.hasClass('k-i-arrow-chevron-up')) {
                    expandIcon.addClass('k-i-arrow-chevron-down').removeClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').addClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();
                    return;
                }
            });

            $(".k-drawer-items").on('click', '#MiniRisUtilities', function (e) {

                let clickedItem = $(e.currentTarget);
                let expandIcon = clickedItem.find("#ExpandIcon");

                SetContainerHeight();

                if (expandIcon.hasClass('k-i-arrow-chevron-down')) {
                    expandIcon.removeClass('k-i-arrow-chevron-down').addClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').removeClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();
                    return;
                }

                if (expandIcon.hasClass('k-i-arrow-chevron-up')) {
                    expandIcon.addClass('k-i-arrow-chevron-down').removeClass('k-i-arrow-chevron-up');
                    clickedItem.nextUntil('span').addClass("hidden");
                    SetDrawerContainerWidthOnScrollbar();

                    return;
                }
            });

            // Show/Hide main category tooltips
            $(".k-drawer-items").on("mouseenter", '#MiniInformationItem', function () {
                $("#MiniInformationItem").kendoTooltip({
                    position: "right",
                    autoHide: true,
                    content: function () {
                        return "Information";
                    },
                });
            });

            $(".k-drawer-items").on("mouseenter", '#MiniAppurtenances', function () {
                $("#MiniAppurtenances").kendoTooltip({
                    position: "right",
                    autoHide: true,
                    content: function () {
                        return "Appurtenances";
                    },
                });
            });

            $(".k-drawer-items").on("mouseenter", '#MiniMiscellaneous', function () {
                $("#MiniMiscellaneous").kendoTooltip({
                    position: "right",
                    autoHide: true,
                    content: function () {
                        return "Miscellaneous";
                    },
                });
            });

            $(".k-drawer-items").on("mouseenter", '#MiniManagement', function () {
                $("#MiniManagement").kendoTooltip({
                    position: "right",
                    autoHide: true,
                    content: function () {
                        return "Management";
                    },
                });
            });

            $(".k-drawer-items").on("mouseenter", '#MiniRoadDefs', function () {
                $("#MiniRoadDefs").kendoTooltip({
                    position: "right",
                    autoHide: true,
                    content: function () {
                        return "Road Definitions";
                    },
                });
            });

            $(".k-drawer-items").on("mouseenter", '#MiniRisUtilities', function () {
                $("#MiniRisUtilities").kendoTooltip({
                    position: "right",
                    autoHide: true,
                    content: function () {
                        return "Ris Utilities";
                    },
                });
            });

        });
    </script>

    <style>
        .hidden {
            display: none !important;
        }

        .max-height-full {
            max-height: 100% !important;
        }

        .fa-icon-li-padding {
            padding-top: 6px;
        }
    </style>
</body>
</html>